/* fonts
  */

body {
  background: #ffffff;
  font-family: "Raleway", sans-serif;
  color: #181818;
  margin: auto;
  width: 100%;
}

.bloc_page {
  max-width: 1440px;
  width: 96%;
  margin: 50px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Header*/

header {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  margin: 0;
}

.titre_principal {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.logo img {
  width: auto;
  height: auto;
}

/* Navigation */

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

nav li {
  margin-right: 15px;
}

nav a {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #0065fc;
  padding-bottom: 3px;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
}

nav a:hover {
  color: #0065fc;
  border-top: 4px solid #0065fc;
  padding-top: 63px;
}

.sub_link {
  font-weight: 600;
  margin-right: 0;
}

.activ_link {
  color: black;
}

/* Corps */
.lieu {
  margin-top: 5px;
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.titre_lieu {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #181818;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 0;
}

.phrase_section1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 5px;
}

/* research */

form {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 25px;
  margin-bottom: 20px;
}

span.searchbutton_icon > img {
  height: 32px;
}

span.buttonbackground {
  color: rgb(250, 252, 252);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  background-color: #0065fc;
  border-radius: 0 20px 20px 0;
  margin: 0;
  width: 146px;
  box-sizing: border-box;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  background-color: #ffffff;
  font-size: 1.2em;
  margin: 0;
  border: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  border-left: 0;
  border-right: 0;
  width: 230px;
  box-sizing: border-box;
  height: 62px;
  padding-left: 15px;
}

:focus {
  outline: transparent;
}

.icon_search {
  color: black;
  font-size: 1.2em;
  background-color: #f2f2f2;
  border-radius: 20px 0 0 20px;
  margin: 0;
  width: 58px;
  box-sizing: border-box;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* filtres lieux*/

.filtre_lieu {
  color: black;
  font-size: 1.2em;
}

.bloc_filtre {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  max-width: 1000px;
  width: 100%;
}
.ecolink {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-decoration: none;
  border-top: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
  border-right: 2px solid #d9d9d9;
  border-radius: 40px;
  padding: 0;
  max-height: 45px;
}

.ecolink_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 400px;
  width: 100%;
}

.bloc_filtre a:hover {
  color: #ffffff;
  background-color: #0065fc;
}

.icon_filtre {
  color: #0065fc;
  font-size: 1.2em;
  background: #deebff;
  border-radius: 40px;
  padding: 15px;
}

.fa-money-bill-wave {
  padding-left: 13px;
}

.fa-child {
  padding-left: 18px;
  padding-right: 18px;
}
.ecoword {
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
}

.ligne_infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.fa-info {
  color: #0065fc;
  font-size: 0.8em;
  background: #ffffff;
  border: 2px solid #d9d9d9;
  border-radius: 40px;
  font-weight: bold;
  margin-right: 10px;
  padding: 10px 13px 10px 13px;
}

.infoword {
  font-family: "Raleway", sans-serif;
}

/* section hebergement, populaire */
.titre_heb {
  font-size: 1em;
}

.par_heb {
  font-size: 0.8em;
}

.apercu {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}

.hebergement {
  background: #f2f2f2;
  border-radius: 20px;
  max-width: 950px;
  width: 97%;
  margin-right: 5px;
}

.titre_apercu {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 1.4em;
}

.fa-chart-line {
  padding-left: 20px;
  padding-top: 40px;
  font-size: 1.4em;
  padding-right: 15px;
}

.bot_apercu {
  padding-left: 20px;
  font-size: 1.2em;
  padding-bottom: 30px;
}

.vignette_heb {
  margin: 16px;
  border-radius: 17px;
  border: 3px solid white;
  max-height: 190px;
  max-width: 235px;
  box-shadow: 6px 6px 6px rgb(231, 229, 229);
}

.link_heb {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  color: black;
  text-decoration: none;
  border-radius: 13px;
  max-height: 190px;
  max-width: 235px;
  min-width: 235px;
  min-height: 190px;
  padding: 0;
}

.pict_heb {
  border-radius: 14px 14px 0 0;
  width: 235px;
  height: 110px;
  object-fit: cover;
}

.nom_prix {
  padding-left: 10px;
  line-height: 0.6em;
}

.fa-star {
  color: #0065fc;
  font-size: 0.8em;
}

.fa-star_grey {
  color: #d9d9d9;
}

.flex_art {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

/* section populaire */

.populaire {
  background: #f2f2f2;
  border-radius: 20px;
  max-width: 420px;
  width: 97%;
}

.top_pop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 420px;
  width: 100%;
  margin-right: 0;
}

.flex_art_pop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.vignette_pop {
  width: 335px;
  height: 135px;
  margin: 15px;
  border-radius: 17px;
  border: 3px solid white;
  display: flex;
  box-shadow: 6px 6px 6px rgb(231, 229, 229);
  box-sizing: border-box;
}

.link_pop {
  width: 335px;
  height: 135px;
  background: #ffffff;
  color: black;
  font-size: 1.2em;
  text-decoration: none;
  border-radius: 13px 13px 13px 13px;
  display: flex;
}

.pict_pop {
  border-radius: 14px 0px 0px 14px;
  width: 125px;
  object-fit: cover;
}

.end_star_pop {
  color: #181818;
  font-size: 0.8em;
  padding-left: 15px;
  width: 150px;
  margin-top: 15px;
}

.nom_prix_pop {
  max-width: 190px;
  width: 100%;
  padding-top: 1px;
  padding-right: 10px;
  padding-left: 15px;
  line-height: 0.8em;
}

.par_pop {
  margin-bottom: 25px;
  font-size: 0.7em;
}

.titre_pop {
  padding: 1px;
  margin: 10px 5px 1px 1px;
  font-size: 0.9em;
}

.grouptext_pop {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 85%;
}

/* activités */

.activites {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 60px;
}
.bloc_activites {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.colonne {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  max-width: 300px;
  width: 100%;
}

.titre_activites {
  padding-bottom: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nom_activite {
  padding-left: 15px;
  font-size: 0.7em;
}

.vign_caract_act {
  max-width: 300px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 17px;
  box-shadow: 6px 6px 6px rgb(231, 229, 229);
}

.link_caract_act {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgb(255, 255, 255);
  color: black;
  text-decoration: none;
  border-radius: 13px;
  max-width: 300px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 0px 0px 0px;
}

.pict_caract_act {
  border-radius: 14px 14px 0px 0px;
  max-width: 300px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  object-fit: cover;
}

.link_act1 {
  max-height: 445px;
  min-height: 445px;
}

.pict_activite_1 {
  height: 385px;
}

.link_act2 {
  max-height: 235px;
  min-height: 235px;
}

.pict_activite_2 {
  height: 180px;
}

.link_act3 {
  max-height: 165px;
  min-height: 165px;
}

.pict_activite_3 {
  height: 110px;
}

.link_act4 {
  max-height: 445px;
  min-height: 445px;
}

.pict_activite_4 {
  height: 385px;
}

.link_act5 {
  max-height: 195px;
  min-height: 195px;
}

.pict_activite_5 {
  height: 140px;
}

.link_act6 {
  max-height: 210px;
  min-height: 210px;
}

.pict_activite_6 {
  height: 150px;
}

/* FOOTER  */

footer {
  background: #f2f2f2;
  color: black;
  font-family: "Raleway", sans-serif;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0px;
}

.infos {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.liste_infos {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
}

.infos_titre {
  font-size: 1em;
}

.liste_infos a {
  text-decoration: none;
  color: #181818;
  font-size: 0.8em;
  line-height: 1.8em;
}

.liste_infos ul {
  list-style-type: none;
  padding: 0px;
}

/* ----  MEDIA QUERY -- */

@media (min-width: 541px) {
  span.searchbutton_icon {
    display: none;
  }

  .bot_activ_link {
    display: none;
  }
}

/*
@media (max-width: 540px) {
  span.searchbutton_icon {
    display: inline-block;
  }
  span.searchbutton {
    display: none;
  }
  .bot_activ_link {
    display: inline-block;
  }
  .activ_link {
    display: none;
  }
}
*/

/* @media QUERY
@media all and (max-width: 1024px)           */
/* @media only screen and (min-device-width: 320px) and (max-device-width: 480px)*/
/* @media only screen and (min-device-width: 641px) and (max-device-width: 640px)
@media all and (max-width: 1024px)
#mobile
@media all and (max-device-width: 480px)
# Tablet
only screen and (min-width: 768px)
*/

@media all and (max-width: 540px) {
  body {
    background: #ffffff;
    font-family: "Raleway", sans-serif;
    color: #181818;
    font-size: 1.2em;
    width: 100%;
    margin: auto;
  }

  .bloc_page {
    max-width: 540px;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
  }

  span.searchbutton_icon {
    display: flex;
  }
  span.searchbutton {
    display: none;
  }

  .linktop {
    margin-right: 5px;
    font-size: 0.7em;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 540px;
    width: 95%;
    margin-bottom: 30px;
  }

  .titre_principal {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  }

  .sub_link {
    margin-right: 0px;
    font-weight: bold;
    font-size: 1em;
    padding: 0px;
  }

  .lieu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 540px;
    width: 100%;
    margin: auto;
  }

  .bot_activ_link {
    display: flex;
    max-width: 540px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .bot_activ_link a {
    font-family: "Raleway", sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    text-decoration: none;
    color: #181818;
    max-width: 540px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: content-box;
  }

  .bot_activ_link a:hover {
    color: #0065fc;
    border-bottom: 4px solid #0065fc;
    padding-bottom: 10px;
  }

  .mini_activ_link {
    box-sizing: border-box;
    width: 50%;
    padding-bottom: 10px;
    border-bottom: 4px solid #f2f2f2;
  }

  .activ_link {
    display: none;
  }

  .titre_lieu {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #181818;
    margin-top: 35px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 0px;
    font-size: 1.1em;
    width: 300px;
  }

  .phrase_section1 {
    padding-left: 20px;
    padding-right: 10px;
    font-size: 0.8em;
  }

  form {
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    max-width: 300px;
    width: 90%;
  }

  input {
    font-size: 0.8em;
    width: 170px;
  }

  span.buttonbackground {
    color: rgb(250, 252, 252);
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 1em;
    background-color: #0065fc;
    border-radius: 15px;
    box-sizing: border-box;
    width: 62px;
    height: 62px;
  }

  .icon_search {
    color: black;
    font-size: 1em;
    background-color: #f2f2f2;
    border-radius: 20px 0px 0px 20px;
    margin: 0;
    box-sizing: border-box;
    width: 62px;
    height: 62px;
  }

  .bloc_filtre {
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 380px;
    width: 90%;
  }

  .ecolink_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0px;
  }

  .filtre_lieu {
    color: black;
    font-size: 1.2em;
    padding: 0px;
    margin-left: 10px;
    margin-bottom: 5px;
  }

  .ecoword {
    font-size: 0.7em;
  }

  .icon_filtre {
    color: #0065fc;
    font-size: 0.8em;
    background: #deebff;
    border-radius: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .fa-money-bill-wave {
    padding-left: 13px;
  }

  .fa-child {
    padding-left: 16px;
    padding-right: 16px;
  }

  .ecolink {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    color: black;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-decoration: none;
    border-top: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
    border-right: 2px solid #d9d9d9;
    border-radius: 40px;
    max-height: 39px;
  }

  .ligne_infos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 300px;
  }
  .fa-info {
    color: #0065fc;
    font-size: 0.6em;
    background: #ffffff;
    border: 2px solid #d9d9d9;
    border-radius: 40px;
    font-weight: bold;
    margin-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .infoword {
    font-family: "Raleway", sans-serif;
    font-size: 0.7em;
    margin-top: 0px;
  }

  .apercu_heb_pop {
    display: flex;
    flex-direction: column;
    max-width: 540px;
    width: 100%;
    margin-left: 0px;
  }

  .flex_art {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 540px;
    width: 100%;
  }

  .hebergement {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 540px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: white;
  }

  .titre_apercu {
    align-self: flex-start;
    padding-left: 35px;
    padding-top: 20px;
    font-size: 1.1em;
    padding-right: 0px;
    margin: 0px;
  }

  .bot_apercu {
    align-self: flex-start;
    padding-left: 30px;
    font-size: 1.2em;
    padding-bottom: 30px;
  }

  .vignette_heb {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 17px;
    border: 3px solid white;
    max-height: 190px;
    max-width: 310px;
    width: 100%;
    box-shadow: 6px 6px 6px rgb(231, 229, 229);
  }

  .link_heb {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: white;
    color: black;
    font-size: 0.8em;
    text-decoration: none;
    border-radius: 13px;
    max-height: 190px;
    max-width: 310px;
    min-width: 310px;
    min-height: 190px;
    padding: 0px 0px 0px 0px;
  }

  .pict_heb {
    border-radius: 14px 14px 0px 0px;
    width: 310px;
    height: 110px;
    object-fit: cover;
  }

  .nom_prix {
    padding-left: 10px;
    line-height: 0.4em;
  }

  .fa-star {
    color: #0065fc;
    font-size: 0.8em;
  }

  .fa-star_grey {
    color: #d9d9d9;
  }

  .populaire_mobile {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px;
    padding-bottom: 20px;
    font-size: 0.8em;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 540px;
    width: 96%;
    margin: auto;
    background: #f2f2f2;
  }

  .top_pop_mobile {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-left: 0px;
    padding-top: 20px;
    max-width: 540px;
    width: 95%;
  }

  .flex_art_pop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 540px;
    width: 95%;
  }

  .fa-chart-line {
    padding-left: 0px;
    font-size: 1.4em;
    padding-right: 0px;
    padding-top: 0px;
  }

  .titre_apercu_pop {
    padding-left: 10px;
    padding-top: 0px;
    font-size: 1.3em;
    padding-bottom: 0px;
    margin: 0px;
    padding-right: 0px;
  }

  .nom_prix_pop {
    max-width: 170px;
    width: 100%;
    padding-top: 1px;
    padding-right: 0px;
    padding-left: 5px;
    line-height: 0.6em;
  }

  .par_pop {
    line-height: 1.2em;
    margin-bottom: 0.8px;
  }

  .titre_pop {
    line-height: 1.2em;
  }

  .vignette_pop {
    max-width: 310px;
    width: 100%;
    height: 135px;
    border-radius: 17px;
    border: 3px solid white;
    display: flex;
    box-shadow: 6px 6px 6px rgb(231, 229, 229);
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .link_pop {
    width: 310px;
    height: 135px;
    background: #ffffff;
    color: black;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 13px 13px 13px 13px;
    display: flex;
  }

  .activites {
    max-width: 540px;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bloc_activites {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    max-width: 540px;
    width: 100%;
  }

  .colonne {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }

  .titre_activites {
    align-self: flex-start;
    padding-left: 30px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1.2em;
  }

  .nom_activite {
    padding-left: 15px;
    font-size: 0.7em;
  }

  .vign_caract_act {
    margin: 15px 15px 15px 15px;
    max-width: 310px;
    min-width: 310px;
    border-radius: 17px;
    box-shadow: 6px 6px 6px rgb(231, 229, 229);
  }

  .link_caract_act {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgb(255, 255, 255);
    color: black;
    text-decoration: none;
    border-radius: 13px;
    max-width: 310px;
    min-width: 310px;
    padding: 0px 0px 0px 0px;
  }

  .pict_caract_act {
    border-radius: 14px 14px 0px 0px;
    width: 310px;
    object-fit: cover;
  }

  .link_act1 {
    max-height: 190px;
    min-height: 190px;
  }

  .pict_activite_1 {
    height: 135px;
  }

  .link_act2 {
    max-height: 190px;
    min-height: 190px;
  }

  .pict_activite_2 {
    height: 135px;
  }

  .link_act3 {
    max-height: 190px;
    min-height: 190px;
  }

  .pict_activite_3 {
    height: 135px;
  }

  .link_act4 {
    max-height: 190px;
    min-height: 190px;
  }

  .pict_activite_4 {
    height: 135px;
  }

  .link_act5 {
    max-height: 190px;
    min-height: 190px;
  }

  .pict_activite_5 {
    height: 135px;
  }

  .link_act6 {
    max-height: 190px;
    min-height: 190px;
  }

  .pict_activite_6 {
    height: 135px;
  }

  .infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 20px;
    width: 220px;
  }

  .liste_infos ul {
    margin: 0px;
  }

  .liste_infos {
    width: 250px;
  }
}

@media (min-width: 541px) and (max-width: 768px) {
  body {
    background: #ffffff;
    font-family: "Raleway", sans-serif;
    color: #181818;
    font-size: 1.2em;
    width: 100%;
    margin: auto;
  }

  .bloc_page {
    max-width: 768px;
    width: 100%;
    margin: auto;
  }

  header {
    max-width: 758px;
    width: 97%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
  }

  .linktop {
    max-width: 700px;
    width: 100%;
    margin: auto;
  }

  nav ul li a {
    max-width: 600px;
    width: 100%;
    margin: auto;
    padding: 1px;
  }

  nav a:hover {
    color: #0065fc;
    border-top: 4px solid #0065fc;
    padding-top: 45px;
  }

  .lieu {
    max-width: 758px;
    width: 97%;
    margin-right: auto;
    margin-left: auto;
  }

  form {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
    margin-top: 40px;
  }

  .titre_lieu {
    font-size: 1.2em;
    margin-bottom: 30px;
  }

  input {
    font-size: 1em;
    padding: 20px 20px 23px 20px;
  }

  .bloc_filtre {
    max-width: 758px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .ecolink {
    margin: 10px;
    justify-content: center;
  }

  .apercu {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .hebergement {
    order: 2;
    display: flex;
    flex-direction: column;
    max-width: 758px;
    width: 100%;
    background: white;
    margin-right: 3px;
  }

  .top_pop {
    display: flex;
    justify-content: space-between;
    max-width: 768px;
    width: 95%;
  }

  .vignette_heb {
    margin: 16px;
    border-radius: 17px;
    border: 3px solid white;
    max-height: 190px;
    max-width: 260px;
    box-shadow: 6px 6px 6px rgb(231, 229, 229);
  }

  .link_heb {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: white;
    color: black;
    font-size: 0.8em;
    text-decoration: none;
    border-radius: 13px;
    max-height: 190px;
    max-width: 260px;
    min-width: 260px;
    min-height: 190px;
    padding: 0px 0px 0px 0px;
  }

  .pict_heb {
    border-radius: 14px 14px 0px 0px;
    width: 260px;
    height: 110px;
    object-fit: cover;
  }

  .flex_art {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    max-width: 748px;
    width: 95%;
  }

  .populaire {
    order: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    border-radius: 0px;
    margin: auto;
    padding-bottom: 20px;
  }
  .flex_art_pop {
    font-size: 0.8em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    max-width: 748px;
    width: 95%;
    margin: auto;
  }

  .vignette_pop {
    margin: 0px;
    width: 340px;
    margin: 5px;
  }

  .link_pop {
    width: 340px;
  }

  .activites {
    max-width: 748px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .titre_activites {
    max-width: 500px;
    width: 95%;
  }

  .bloc_activites {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    max-width: 758px;
    width: 100%;
    margin: 0px;
  }

  .colonne {
    width: 330px;
    margin-bottom: 20px;
  }

  .infos {
    max-width: 758px;
    font-size: 0.8em;
  }

  .liste_infos ul {
    margin: 0px;
  }

  .liste_infos {
    padding-left: 10px;
    padding-right: 10px;
  }
}
