/* fonts 
  */

body {
  background: #ffffff;
  font-family: "Raleway", sans-serif;
  color: #181818;
}

.bloc_page {
  max-width: 1440px;
  margin: auto;
  padding-left: 25px;
}

/* Header*/

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.titre_principal {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.logo img {
  width: auto;
  height: auto;
}

/* Navigation */

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: 15px;
}

nav a {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #0065fc;
  padding-bottom: 3px;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
}

nav a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
  padding-top: 33px;
}

.sub_link {
  font-weight: 600;
}

.activ_link {
  color: black;
}

/* Corps */
.lieu {
  margin-top: 5px;
}

.titre_lieu {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #181818;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 0;
}

.phrase_section1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 5px;
}

/* research */

form {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 35px;
}

.searchbutton {
  color: rgb(250, 252, 252);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  background-color: #0065fc;
  border-radius: 0% 20px 20px 0%;
  border: #0065fc;
  padding: 20px;
  margin: 0;
}

input {
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  background-color: #ffffff;
  border: 5px #555050;
  font-size: 1.2em;
  margin: 0;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding: 20px 20px 18px 20px;
  outline: none;
  width: 230px;
}
#icon_search {
  color: black;
  font-size: 1.2em;
  background-color: #f2f2f2;
  border-radius: 20px 0px 0px 20px;
  padding: 22px;
  margin: 0;
}

/* filtres lieux*/

.filtre_lieu {
  color: black;
  font-size: 1.2em;
  padding: 10px;
}

.bloc_filtre {
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.ecolink {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px;
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-decoration: none;
  border-top: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
  border-right: 2px solid #d9d9d9;
  border-radius: 40px;
  padding: 0;
  max-height: 50px;
}

.bloc_filtre a:hover {
  color: #ffffff;
  background-color: #0065fc;
}

.fas.fa-money-bill-wave {
  color: #0065fc;
  font-size: 1.2em;
  background: #deebff;
  border-radius: 40px;
  padding: 19px 18px 18px 18px;
  max-height: 48px;
  min-width: 18px;
  max-width: 20px;
}

.fas.fa-child {
  color: #0065fc;
  font-size: 1.2em;
  background: #deebff;
  background-size: 48px 48px;
  border-radius: 40px;
  padding: 19px 18px 18px 18px;
  max-height: 48px;
  min-width: 18px;
}

.fas.fa-heart {
  color: #0065fc;
  font-size: 1.2em;
  background: #deebff;
  border-radius: 40px;
  padding: 19px 18px 18px 18px;
  max-height: 48px;
}

.fas.fa-dog {
  color: #0065fc;
  font-size: 1.2em;
  background: #deebff;
  border-radius: 40px;
  padding: 19px 18px 18px 18px;
  max-height: 48px;
  min-width: 18px;
  max-width: 18px;
}

.ecoword {
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
}

.ligne_infos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fas.fa-info {
  color: #0065fc;
  font-size: 1.2em;
  background: #ffffff;
  border: 2px solid #d9d9d9;
  border-radius: 40px;
  padding: 8px 14px 8px 14px;
  font-weight: bold;
  margin-right: 15px;
}

.infoword {
  font-family: "Raleway", sans-serif;
  font-weight: medium;
  padding: 0;
}

/* section hebergement, populaire */
.titre_heb {
  font-size: 1em;
}

.par_heb {
  font-size: 0.8em;
}

.apercu {
  display: flex;
  justify-content: flex-start;
  min-width: 1340px;
  max-width: 1340px;
  margin-left: -25px;
}

#hebergement {
  background: #f2f2f2;
  border-radius: 20px;
  max-width: 820px;
  min-width: 545px;
  padding-right: 10px;
  padding-left: 10px;
}

.titre_apercu {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 1.4em;
}

.fa-chart-line {
  padding-left: 20px;
  padding-top: 40px;
  font-size: 1.4em;
  padding-right: 15px;
}

.bot_apercu {
  padding-left: 20px;
  font-size: 1.2em;
  padding-bottom: 30px;
}

.vignette_heb {
  margin: 16px;
  border-radius: 17px;
  border: 3px solid white;
  max-height: 190px;
  max-width: 235px;
  box-shadow: 6px 6px 6px rgb(231, 229, 229);
}

.link_heb {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  color: black;
  text-decoration: none;
  border-radius: 13px;
  max-height: 190px;
  max-width: 235px;
  min-width: 235px;
  min-height: 190px;
  padding: 0px 0px 0px 0px;
}

.pict_heb {
  border-radius: 14px 14px 0px 0px;
  width: 235px;
  height: 110px;
  object-fit: cover;
}

.nom_prix {
  padding-left: 10px;
  line-height: 0.6em;
}

.fas.fa-star {
  color: #0065fc;
  font-size: 0.8em;
}

#logo_star_grey1 {
  color: #d9d9d9;
}
#logo_star_grey2 {
  color: #d9d9d9;
}
#logo_star_grey3 {
  color: #d9d9d9;
}
#logo_star_grey4 {
  color: #d9d9d9;
}
#logo_star_grey5 {
  color: #d9d9d9;
}
#logo_star_grey6 {
  color: #d9d9d9;
}
#logo_star_grey7 {
  color: #d9d9d9;
}

.flex_art {
  display: flex;
  flex-wrap: wrap;
}

/* section populaire */

.populaire {
  background: #f2f2f2;
  border-radius: 20px;
  max-width: 420px;
  padding-right: 10px;
  padding-left: 10px;
}

.top_pop {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}

.flex_art_pop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.vignette_pop {
  width: 335px;
  height: 135px;
  margin: 15px;
  border-radius: 17px;
  border: 3px solid white;
  display: flex;
  box-shadow: 6px 6px 6px rgb(231, 229, 229);
}

.link_pop {
  width: 335px;
  height: 135px;
  background: #ffffff;
  color: black;
  font-size: 1.2em;
  text-decoration: none;
  border-radius: 13px 13px 13px 13px;
  display: flex;
}

.pict_pop {
  border-radius: 14px 0px 0px 14px;
  width: 125px;
  height: 135px;
  object-fit: cover;
}

.end_star_pop {
  color: #181818;
  font-size: 0.8em;
  padding-left: 15px;
  width: 150px;
  margin-top: 15px;
}

.nom_prix_pop {
  width: 190px;
  padding-top: 1px;
  padding-right: 10px;
  padding-left: 15px;
  line-height: 0.8em;
}

.par_pop {
  margin-bottom: 25px;
  font-size: 0.7em;
}

.titre_pop {
  padding: 1px;
  margin: 10px 5px 1px 1px;
  font-size: 0.9em;
}

.grouptext_pop {
  display: flex;
  flex-direction: column;
}

/* activités */

#activites {
  max-width: 1300px;
  min-width: 1300px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: -10px;
}
.bloc_activites {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.colonne {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titre_activites {
  padding-left: 15px;
  padding-bottom: 1px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.nom_activite {
  padding-left: 15px;
  font-size: 0.7em;
}

.vignette_act1 {
  margin: 15px 15px 15px 15px;
  max-width: 300px;
  max-height: 445px;
  border-radius: 17px;
  box-shadow: 6px 6px 6px rgb(231, 229, 229);
}

.link_act1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgb(255, 255, 255);
  color: black;
  text-decoration: none;
  border-radius: 13px;
  max-height: 445px;
  max-width: 300px;
  min-width: 300px;
  min-height: 445px;
  padding: 0px 0px 0px 0px;
  box-shadow: 6px 6px 6px rgb(231, 229, 229);
}

.pict_activite_1 {
  border-radius: 14px 14px 0px 0px;
  width: 300px;
  height: 385px;
  object-fit: cover;
}

.vignette_act2 {
  margin: 15px 15px 15px 15px;
  max-width: 300px;
  max-height: 235px;
  border-radius: 17px;
  box-shadow: 6px 6px 6px rgb(231, 229, 229);
}

.link_act2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgb(255, 255, 255);
  color: black;
  text-decoration: none;
  border-radius: 13px;
  max-height: 235px;
  max-width: 300px;
  min-width: 300px;
  min-height: 235px;
  padding: 0px 0px 0px 0px;
  box-shadow: 6px 6px 6px rgb(231, 229, 229);
}

.pict_activite_2 {
  border-radius: 14px 14px 0px 0px;
  width: 300px;
  height: 180px;
  object-fit: cover;
}

.vignette_act3 {
  margin: 15px 15px 15px 15px;
  max-width: 300px;
  max-height: 165px;
  border-radius: 17px;
  box-shadow: 6px 6px 6px rgb(231, 229, 229);
}

.link_act3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgb(255, 255, 255);
  color: black;
  text-decoration: none;
  border-radius: 13px;
  max-height: 165px;
  max-width: 300px;
  min-width: 300px;
  min-height: 165px;
  padding: 0px 0px 0px 0px;
  box-shadow: 6px 6px 6px rgb(231, 229, 229);
}

.pict_activite_3 {
  border-radius: 14px 14px 0px 0px;
  width: 300px;
  height: 110px;
  object-fit: cover;
}

.vignette_act4 {
  margin: 15px 15px 15px 15px;
  max-width: 300px;
  max-height: 445px;
  border-radius: 17px;
  box-shadow: 6px 6px 6px rgb(231, 229, 229);
}

.link_act4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgb(255, 255, 255);
  color: black;
  text-decoration: none;
  border-radius: 13px;
  max-height: 445px;
  max-width: 300px;
  min-width: 300px;
  min-height: 445px;
  padding: 0px 0px 0px 0px;
  box-shadow: 6px 6px 6px rgb(231, 229, 229);
}

.pict_activite_4 {
  border-radius: 14px 14px 0px 0px;
  width: 300px;
  height: 385px;
  object-fit: cover;
}

.vignette_act5 {
  margin: 15px 15px 15px 15px;
  max-width: 300px;
  max-height: 195px;
  border-radius: 17px;
  box-shadow: 6px 6px 6px rgb(231, 229, 229);
}

.link_act5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgb(255, 255, 255);
  color: black;
  text-decoration: none;
  border-radius: 13px;
  max-height: 195px;
  max-width: 300px;
  min-width: 300px;
  min-height: 195px;
  padding: 0px 0px 0px 0px;
  box-shadow: 6px 6px 6px rgb(231, 229, 229);
}

.pict_activite_5 {
  border-radius: 14px 14px 0px 0px;
  width: 300px;
  height: 140px;
  object-fit: cover;
}

.vignette_act6 {
  margin: 15px 15px 15px 15px;
  max-width: 300px;
  max-height: 210px;
  border-radius: 17px;
  box-shadow: 6px 6px 6px rgb(231, 229, 229);
}

.link_act6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgb(255, 255, 255);
  color: black;
  text-decoration: none;
  border-radius: 13px;
  max-height: 210px;
  max-width: 300px;
  min-width: 300px;
  min-height: 210px;
  padding: 0px 0px 0px 0px;
  box-shadow: 6px 6px 6px rgb(231, 229, 229);
}

.pict_activite_6 {
  border-radius: 14px 14px 0px 0px;
  width: 300px;
  height: 150px;
  object-fit: cover;
}

/* FOOTER  */

footer {
  display: flex;
  background-color: #f2f2f2;
  color: black;
  font-family: "Raleway", sans-serif;
}

.infos {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.liste_infos {
  width: 430px;
}

.infos_titre {
  font-size: 1em;
  padding-left: 40px;
  padding-top: 10px;
}

.liste_infos a {
  text-decoration: none;
  color: #181818;
  font-size: 0.8em;
  line-height: 1.8em;
}

.liste_infos ul {
  list-style-type: none;
}

/* @media QUERY */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    background: #ffffff;
    font-family: "Raleway", sans-serif;
    color: #181818;
    font-size: 1.2em;
  }

  .bloc_page {
    width: auto;
    margin: auto;
    padding-left: 25px;
  }
  nav ul {
    list-style-type: none;
    display: flex;
  }

  nav li {
    margin-right: 5px;
  }

  nav a {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #0065fc;
    padding-bottom: 3px;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
  }
  .bloc_filtre {
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;
  }
  .apercu {
    display: flex;
    flex-direction: column;
    width: 640px;
    margin-left: -25px;
  }

  #hebergement {
    background: #f2f2f2;
    border-radius: 20px;
    width: 640px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .populaire {
    background: #f2f2f2;
    border-radius: 20px;
    max-width: 420px;
    padding-right: 10px;
    padding-left: 10px;
  }
  #activites {
    width: 480px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: -10px;
  }
  .bloc_activites {
    display: flex;
    flex-direction: column;
  }

  .colonne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  footer {
    display: flex;
    background-color: #f2f2f2;
    color: black;
    font-family: "Raleway", sans-serif;
  }

  .infos {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    background: #ffffff;
    font-family: "Raleway", sans-serif;
    color: #181818;
    font-size: 1.2em;
  }

  .bloc_page {
    width: auto;
    margin: auto;
    padding-left: 25px;
  }
  nav ul {
    list-style-type: none;
    display: flex;
  }

  nav li {
    margin-right: 5px;
  }

  nav a {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #0065fc;
    padding-bottom: 3px;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
  }
  .bloc_filtre {
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 5px;
    max-width: 700px;
  }
  .apercu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 740px;
    margin-left: -25px;
  }

  #hebergement {
    background: #f2f2f2;
    border-radius: 20px;
    width: 840px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .populaire {
    background: #f2f2f2;
    border-radius: 20px;
    width: 840px;
    padding-right: 10px;
    padding-left: 10px;
  }
  #activites {
    width: 780px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: -10px;
  }
  .bloc_activites {
    display: flex;
    flex-wrap: wrap;
  }

  .colonne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  footer {
    display: flex;
    background-color: #f2f2f2;
    color: black;
    font-family: "Raleway", sans-serif;
  }

  .infos {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
}
